.login-page-container {
  background-color: #b91646;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-area-container {
  display: flex;
  background-color: #dfd8ca;
  width: 80%;
  height: 80%;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.la-left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf3e4;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 45%;
  height: 100%;
}

.la-right {
  width: 25%;
}
.la-r-icon {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-right: 22px;
}

.social-icon {
  cursor: pointer;
}

.la-middle {
  width: 30%;
  display: flex;
  position: relative;
}

.middle-image {
  width: 100%;
}
.l-mi-img {
  position: absolute;
  top: 25%;
  left: 0%;
  width: 72%;
}

.middle-left {
  width: 50%;
  background-color: #fbf3e4;
}

.middle-right {
  width: 50%;
}
.mr-image {
  position: absolute;
  top: 15%;
  right: 10%;
}

@media (min-width: 1440px) and (max-width: 1679px) {
  .login-area-container {
    width: 90%;
  }

  .middle-image {
    margin: auto;
  }
  .l-mi-img {
    top: 15%;
    left: 0%;
    width: 82%;
  }
  .middle-left {
    width: 100%;
  }
  .middle-right {
    width: 100%;
  }
  .mr-image {
    top: 0;
    left: 60%;
    top: 20%;
    margin: auto;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .login-area-container {
    width: 90%;
  }

  .middle-image {
    margin: auto;
  }
  .l-mi-img {
    top: 15%;
    left: 0%;
    width: 82%;
  }
  .middle-left {
    width: 100%;
  }
  .middle-right {
    width: 100%;
  }
  .mr-image {
    top: 0;
    left: 60%;
    top: 20%;
    height: 180px;
    margin: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .login-area-container {
    width: 90%;
  }

  .middle-image {
    margin: auto;
  }
  .l-mi-img {
    top: 15%;
    left: 0%;
    width: 82%;
  }
  .middle-left {
    width: 100%;
  }
  .middle-right {
    width: 100%;
  }
  .mr-image {
    top: 0;
    left: 60%;
    top: 20%;
    height: 150px;
    margin: auto;
  }
}
